.wrapper {
  h1 {
    color: red($color: #000000);
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
  }
  &__guide {
    align-items: center;
  }

  &__chart {

    &__first {
      margin: 30px 0;
    }
    &__second {
      margin: 30px 0;
    }

  }
  &__import {

    &__guide {

    }
    &__button {
      
    }
    
  }
}
h1 {
  color: red($color: #000000);
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
}